<mat-card class="patient-profile">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>
                person_pin
            </mat-icon>
        </div>
        <mat-card-title>
            A B O U T
        </mat-card-title>
        <mat-card-subtitle>All about me - the developer and my application.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Hi there,</p>
        <p>My name is Giang Nguyen. I am a student of Computer Programming and Analysis.</p>
        <p>This is a prototype of a centralized health care platform I built for Seneca - Digital Health
            Hackathon 2021.</p>
        <p>It was built from scratch in my free time from Mar 3 to Mar 4, 2021. I used HTML, CSS, TypeScript, Angular to
            build the application since I was learning Angular at the time.</p>
        <p> Here is my another project that simulates airBnB and was deployed to
            <a href="https://evening-river-85102.herokuapp.com/"> Heroku</a>.
        </p>
        <p><b>Thank you for visiting!</b></p>
    </mat-card-content>
</mat-card>