table,
table tr,
table td,
table th {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 12px 5px;
  text-align: center;
}

table th {
  font-size: medium;
  background-color: #627cd1;
  color: white;
}

table tr:hover {
  background-color: #ddd;
}
