<mat-card class="patient-profile">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>
                assignment_ind
            </mat-icon>
        </div>
        <mat-card-title>
            Profile
        </mat-card-title>
        <mat-card-subtitle>Join from: {{patient.joinFrom}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p> <strong>Full name:</strong> {{patient.firstName}} {{patient.lastName}}</p>
        <p> <strong>Date of birth:</strong> {{patient.dob}}</p>
        <p> <strong>Gender:</strong> {{patient.gender}}</p>
        <p> <strong>Phone number:</strong> {{patient.phone}}</p>
        <p> <strong>Address:</strong> {{patient.address}}</p>
    </mat-card-content>
</mat-card>

<br /> <br />

<mat-card class="patient-healthProfile">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>
                enhanced_encryption
            </mat-icon>
        </div>
        <mat-card-title>
            Health profile
        </mat-card-title>
        <mat-card-subtitle>List of pre-screen medical profile</mat-card-subtitle>
    </mat-card-header>
    <mat-list role="list">
        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Genetic Disease: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.geneticDisease == 'true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.geneticDisease == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Diabetes: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.diabetes == 'true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.diabetes == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Heart Disease: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.heartDisease =='true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.heartDisease == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Cancer: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.cancer =='true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.cancer == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Alcohol Consumption: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.alcoholConsumption =='true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.alcoholConsumption == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Tobacco Consumption: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.tobaccoConsumption =='true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.tobaccoConsumption == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Pregnancy: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.pregnancy =='true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.pregnancy == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="8" rowHeight="30px">
            <mat-grid-tile>Allergies: </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.allergies =='true'">Yes
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="checkbox" [checked]="patient.healthProfile.allergies == 'false'">No
            </mat-grid-tile>
        </mat-grid-list>
    </mat-list>
    <br />
    <mat-chip-list>
        <mat-chip routerLink="/profile">Update health profile</mat-chip>
    </mat-chip-list>
</mat-card>

<br /> <br />

<mat-card class="patient-medicalRecords">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>
                folder_shared
            </mat-icon>
        </div>
        <mat-card-title>
            Medical history
        </mat-card-title>
        <mat-card-subtitle>List of medical records</mat-card-subtitle>
    </mat-card-header>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Clinic</th>
                <th>Date of visit</th>
                <th>Reason of visit</th>
                <th>Doctor</th>
                <th>Prescription</th>
                <th>Type of visit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of patient.medicalRecord.clinicVisit">
                <td>{{record._id}}</td>
                <td>{{record.clinic}}</td>
                <td>{{record.date}}</td>
                <td>{{record.reason}}</td>
                <td>{{record.doctor}}</td>
                <td>{{record.prescription}}</td>
                <td>{{record.typeOfVisit}}</td>
            </tr>
        </tbody>
    </table>
    <br /> <br />
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Vaccine</th>
                <th>Date of last vaccination</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of patient.medicalRecord.vaccination">
                <td>{{record._id}}</td>
                <td>{{record.vaccine}}</td>
                <td>{{record.date}}</td>
            </tr>
        </tbody>
    </table>

</mat-card>