<mat-card class="welcome">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>
                public
            </mat-icon>
        </div>
        <mat-card-title>
            Hello {{patient.firstName}} {{patient.lastName}},
        </mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
        <p>What would you like to do today?</p>
        <br />
        <mat-chip-list>
            <mat-chip routerLink="/medical-exam">I want a medical exam</mat-chip>
            <mat-chip routerLink="">I want to refill my prescription</mat-chip>
            <mat-chip routerLink="">View other wellness services</mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card>